/* line 331, ../sass/CaliforniaJobCase/_math.scss */
.foo {
  width: 1.61803;
}

/* TODO add spacer */
/* line 222, ../sass/CaliforniaJobCase/_core.scss */
body, html, div,
dl, dt, li,
p, pre, blockquote, form,
th, td {
  margin: 0;
  padding: 0;
}

/* line 227, ../sass/CaliforniaJobCase/_core.scss */
html, body {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-size: 1em;
  line-height: 1.6em;
}

/* line 238, ../sass/CaliforniaJobCase/_core.scss */
ul, ol, dd,
p, fingure,
pre, table, fieldset, hr,
div, header, iframe, article {
  margin-top: 0;
  margin-bottom: 0.8rem;
  padding: 0;
}

/* line 244, ../sass/CaliforniaJobCase/_core.scss */
h1, h2, h3, h4, h5, h6, hgroup {
  font-size: 1em;
  margin-bottom: 0.8rem;
  margin-top: 0;
  padding-top: 0.8rem;
  font-weight: normal;
}

/* line 253, ../sass/CaliforniaJobCase/_core.scss */
.font-minus-1 {
  font-size: 0.625em;
  line-height: 1.70667em;
}

/* line 257, ../sass/CaliforniaJobCase/_core.scss */
.font-minus-2 {
  font-size: 0.79057em;
  line-height: 2.02386em;
}

/* line 261, ../sass/CaliforniaJobCase/_core.scss */
.font-plus-1 {
  font-size: 1.26491em;
  line-height: 1.26491em;
}

/* line 265, ../sass/CaliforniaJobCase/_core.scss */
.font-plus-2 {
  font-size: 1.6em;
  line-height: 1.5em;
}

/* line 269, ../sass/CaliforniaJobCase/_core.scss */
.font-plus-3 {
  font-size: 2.52982em;
  line-height: 1.26491em;
}

/* line 273, ../sass/CaliforniaJobCase/_core.scss */
.font-plus-4 {
  font-size: 3.2em;
  line-height: 1.25em;
}

/* line 277, ../sass/CaliforniaJobCase/_core.scss */
hr, .horizontal-rule {
  border: 1px solid black;
  margin-bottom: 0.7375rem;
}

/* line 281, ../sass/CaliforniaJobCase/_core.scss */
.block {
  padding: 0.8rem;
}

/* line 285, ../sass/CaliforniaJobCase/_core.scss */
.overlay {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(46%, rgba(255, 0, 0, 0)), color-stop(50%, red), color-stop(51%, rgba(255, 0, 0, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(96%, rgba(255, 0, 0, 0)), color-stop(100%, red));
  background-image: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 46%, red 50%, rgba(255, 0, 0, 0) 51%), -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 96%, red 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 0, 0, 0) 46%, red 50%, rgba(255, 0, 0, 0) 51%), -moz-linear-gradient(top, rgba(255, 0, 0, 0) 96%, red 100%);
  background-image: -o-linear-gradient(top, rgba(255, 0, 0, 0) 46%, red 50%, rgba(255, 0, 0, 0) 51%), -o-linear-gradient(top, rgba(255, 0, 0, 0) 96%, red 100%);
  background-image: linear-gradient(top, rgba(255, 0, 0, 0) 46%, #ff0000 50%, rgba(255, 0, 0, 0) 51%), linear-gradient(top, rgba(255, 0, 0, 0) 96%, #ff0000 100%);
  -webkit-background-size: 100% 25.6px;
  -moz-background-size: 100% 25.6px;
  -o-background-size: 100% 25.6px;
  background-size: 100% 25.6px;
  background-position: 100% 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 10000px;
  margin: 0;
  z-index: 5000;
  zoom: 1;
  filter: alpha(opacity=60);
  opacity: 0.6;
  pointer-events: none;
}

/* line 304, ../sass/CaliforniaJobCase/_core.scss */
article {
  margin: 0 0.8rem;
}

/* line 14, ../sass/_sample-use.scss */
h1, h2, h6 {
  font-family: 'Berkshire Swash', cursive;
}

/* line 18, ../sass/_sample-use.scss */
a {
  color: red;
  text-decoration: none;
}

/* line 23, ../sass/_sample-use.scss */
a:hover {
  color: #a10000;
}

/* line 27, ../sass/_sample-use.scss */
.block {
  background: black;
  color: white;
  position: relative;
  z-index: 1;
}

/* line 34, ../sass/_sample-use.scss */
.block h1 {
  width: 50%;
  clear: none;
}

/* line 39, ../sass/_sample-use.scss */
.block .button {
  z-index: 5001;
  position: absolute;
  top: 2rem;
  right: 0.8rem;
  padding: 0.8rem;
  -moz-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: red;
}

/* line 50, ../sass/_sample-use.scss */
.block .button:hover {
  background-color: orange;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/* line 55, ../sass/_sample-use.scss */
.button a {
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

/* line 62, ../sass/_sample-use.scss */
.grid-off {
  display: none;
}

/* line 66, ../sass/_sample-use.scss */
article p {
  font-family: 'Lato', sans-serif;
}
